*{
    box-sizing: border-box;
}


html{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.headerbal{
    background-color: aqua;
    flex-basis: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding-right: 0.25%;
}

.headerjobb{
    background-color: aqua;
    flex-basis: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding-left: 0.25%;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    background-color: burlywood;
    flex-basis: 100%;
}

div.nav div.menu{
    border: solid 5px red;
    font-size: 25px;
    text-align: center;
}

div.nav a{
    flex-basis: 50%;
    text-decoration: none;
    color:black
}

.current{
    color: chartreuse;
    font-weight: bold;
}

.article{
    flex-basis: 100%;
    background-color: bisque;
}

.footer{
    flex-basis: 100%;
    background-color: blueviolet;
}





@media only screen and (min-width: 600px) /*Tablet*/
{ 
    
}

@media only screen and (min-width: 768px) /*Számítógép*/
{
    .headerbal{
        flex-basis: 50%;
        text-align: right;
    }

    .headerjobb{
        flex-basis: 50%;
        text-align: left;
        font-weight: bold;
    }

    .nav{
        flex-basis: 20%;
    }

    div.nav div.menu{
        font-size: 25px;
        text-align: center;
    }

    div.nav a{
        flex-flow: column wrap;
        flex-basis: 100%;
    }

    .article{
        flex-basis: 80%;
    }
}